{
  "id": "787f7a2a-b67f-4424-b586-e0e64c3cb3d5",
  "name": "Local",
  "values": [
    {
      "key": "baseUrl",
      "value": "http://localhost:3000",
      "type": "default",
      "enabled": true
    },
    {
      "key": "adminToken",
      "value": "",
      "type": "secret",
      "enabled": true
    },
    {
      "key": "customerToken",
      "value": "",
      "type": "secret",
      "enabled": true
    },
    {
      "key": "categoryId",
      "value": "",
      "type": "default",
      "enabled": true
    },
    {
      "key": "productId",
      "value": "",
      "type": "default",
      "enabled": true
    },
    {
      "key": "cartItemId",
      "value": "",
      "type": "default",
      "enabled": true
    },
    {
      "key": "addressId",
      "value": "",
      "type": "default",
      "enabled": true
    },
    {
      "key": "orderId",
      "value": "",
      "type": "default",
      "enabled": true
    }
  ],
  "_postman_variable_scope": "environment",
  "_postman_exported_at": "2026-09-10T22:00:00.000Z",
  "_postman_exported_using": "Postman/10.0.0"
}
